<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact List</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js'></script>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id='head-banner'>
        <Strong>Contact Management</Strong>
        <a href='/' id='index-link'>Index</a>
        <button id='modalNew'>New</button>
    </div>

    