<% include partials/header %>
<div>
    <div id='new-contact-form'>
        <h2 id='new-contact-header'> New Contact</h2>
        <% if(errors){ %>
            <ul>
            <% errors.forEach(function(error){ %>
                <li><%= error.msg %></li>
                <% }) %>
            </ul>
            <% } %>
        <form name='new_entry' onSubmit='return formValidation' method="post">
            <label>Name</label><br>
            <input class="new-name" id='name' type='text' name='name'><br>
            <label>Email</label><br>
            <input class="new-email" id='email' type='text' name='email'><br>
            <label>Phone</label><br>
            <input class="new-phone" id='phone' type='text' name='phone'><br>
            <button id='add_user' type ='submit' value='Submit'>Submit</button>
        </form>    
    </div>
</div>
<script src="contact-list.js"></script>
<% include partials/footer %>